[defaults]
display_skipped_hosts = false
ansible_user = your_user_to_ssh_to_your_cluster
# Set YAML callback format. We set this to make debug and other messages more human readable
callback_result_format = yaml